NODE_ENV=development
PORT=4000

FRONTEND_ORIGIN=http://localhost:3000

UPLOAD_DIR=./data/jobs

MAX_FILE_MB=50

JOB_TTL_MINUTES=15
CLEANUP_INTERVAL_MINUTES=5

MAX_CONCURRENT_JOBS=1

COMMAND_TIMEOUT_MS=600000